anyio==3.2.1
certifi==2021.5.30
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
gunicorn==20.1.0
h11==0.12.0
httpcore==0.13.6
httpx==0.18.2
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
jyserver==0.0.5
MarkupSafe==2.0.1
pafy==0.5.5
randfacts==0.6.2
requests==2.25.1
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
spotipy==2.18.0
urllib3==1.26.6
Werkzeug==2.0.1
youtube-dl==2021.6.6
youtube-search-python==1.4.6
